.cover-mario-kart-wii {
    background-image: url('./img/games/mario_kart_wii.jpg');
}
.cover-kirby-return-to-dreamland {
    background-image: url('./img/games/kirby_return_to_dreamland_alt.png');
}
.cover-loz-skyward {
    background-image: url('./img/games/loz_skyward_sword.png');
}
.cover-pikmin2 {
    background-image: url('./img/games/pikmin2.jpg');
}




.series-mario {
    background-image: url('./img/symbols/series/symbol-mario.svg');
}
.series-kirby {
    background-image: url('./img/symbols/series/symbol-kirby.svg');
}
.series-zelda {
    background-image: url('./img/symbols/series/symbol-zelda.svg');
}
.series-pikmin {
    background-image: url('./img/symbols/series/symbol-pikmin.svg');
}