@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorStd-Bold.eot');
    src: url('./fonts/CamphorStd-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorStd-Bold.woff') format('woff'), url('./fonts/CamphorStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorPro-LightItalic.eot');
    src: url('./fonts/CamphorPro-LightItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorPro-LightItalic.woff') format('woff'), url('./fonts/CamphorPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorPro-HeavyItalic.eot');
    src: url('./fonts/CamphorPro-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorPro-HeavyItalic.woff') format('woff'), url('./fonts/CamphorPro-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorStd-Light.eot');
    src: url('./fonts/CamphorStd-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorStd-Light.woff') format('woff'), url('./fonts/CamphorStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorPro-MediumItalic.eot');
    src: url('./fonts/CamphorPro-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorPro-MediumItalic.woff') format('woff'), url('./fonts/CamphorPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorPro-Regular.eot');
    src: url('./fonts/CamphorPro-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorPro-Regular.woff') format('woff'), url('./fonts/CamphorPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorStd-BoldItalic.eot');
    src: url('./fonts/CamphorStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorStd-BoldItalic.woff') format('woff'), url('./fonts/CamphorStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorPro-Light.eot');
    src: url('./fonts/CamphorPro-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorPro-Light.woff') format('woff'), url('./fonts/CamphorPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorPro-Heavy.eot');
    src: url('./fonts/CamphorPro-Heavy.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorPro-Heavy.woff') format('woff'), url('./fonts/CamphorPro-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'CamphorStd';
    src: url('./fonts/CamphorPro-Italic.eot');
    src: url('./fonts/CamphorPro-Italic.eot?#iefix') format('embedded-opentype'), url('./fonts/CamphorPro-Italic.woff') format('woff'), url('./fonts/CamphorPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}