@font-face {
    font-family: 'sohne-halbfett';
    src: url('./fonts/Sohne-Halbfett.eot') format('eot'),
         url('./fonts/Sohne-Halbfett.woff') format('woff'),
         url('./fonts/Sohne-Halbfett.ttf') format('truetype'),
         url('./fonts/Sohne-Halbfett.otf') format('otf'),
         url('./fonts/Sohne-Halbfett.svg') format('svg');
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: 'sohne-mager';
    src: url('./fonts/Sohne-Mager.eot') format('eot'),
         url('./fonts/Sohne-Mager.ttf') format('truetype'),        
         url('./fonts/Sohne-Mager.woff') format('woff'),
         url('./fonts/Sohne-Mager.otf') format('otf'),
         url('./fonts/Sohne-Mager.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sohne-leicht';
    src: url('./fonts/Sohne-Leicht.eot') format('eot'),
         url('./fonts/Sohne-Leicht.woff') format('woff'),
         url('./fonts/Sohne-Leicht.ttf') format('truetype'),         
         url('./fonts/Sohne-Leicht.otf') format('otf'),
         url('./fonts/Sohne-Leicht.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


