// @import "/public/TTNorms/stylesheet.css";
@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-ExtraBoldItalic.eot");
  src: local("TT Norms ExtraBold Italic"), local("/fonts/TTNorms-ExtraBoldItalic"),
    url("/fonts/TTNorms-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-ExtraBoldItalic.woff") format("woff"),
    url("/fonts/TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("/fonts/TTNorms-Bold"),
    url("/fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTNorms-Bold.woff") format("woff"),
    url("/fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Thin.eot");
  src: local("TT Norms Thin"), local("/fonts/TTNorms-Thin"),
    url("/fonts/TTNorms-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/TTNorms-Thin.woff") format("woff"),
    url("/fonts/TTNorms-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("/fonts/TTNorms-Regular"),
    url("/fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-Regular.woff") format("woff"), url("/fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-ThinItalic.eot");
  src: local("TT Norms Thin Italic"), local("/fonts/TTNorms-ThinItalic"),
    url("/fonts/TTNorms-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-ThinItalic.woff") format("woff"), url("/fonts/TTNorms-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Italic.eot");
  src: local("TT Norms Italic"), local("/fonts/TTNorms-Italic"),
    url("/fonts/TTNorms-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-Italic.woff") format("woff"), url("/fonts/TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Heavy.eot");
  src: local("TT Norms Heavy"), local("/fonts/TTNorms-Heavy"),
    url("/fonts/TTNorms-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/TTNorms-Heavy.woff") format("woff"),
    url("/fonts/TTNorms-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Light.eot");
  src: local("TT Norms Light"), local("/fonts/TTNorms-Light"),
    url("/fonts/TTNorms-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/TTNorms-Light.woff") format("woff"),
    url("/fonts/TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-BlackItalic.eot");
  src: local("TT Norms Black Italic"), local("/fonts/TTNorms-BlackItalic"),
    url("/fonts/TTNorms-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-BlackItalic.woff") format("woff"), url("/fonts/TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-ExtraLight.eot");
  src: local("TT Norms ExtraLight"), local("/fonts/TTNorms-ExtraLight"),
    url("/fonts/TTNorms-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-ExtraLight.woff") format("woff"), url("/fonts/TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-LightItalic.eot");
  src: local("TT Norms Light Italic"), local("/fonts/TTNorms-LightItalic"),
    url("/fonts/TTNorms-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-LightItalic.woff") format("woff"), url("/fonts/TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-ExtraLightItalic.eot");
  src: local("TT Norms ExtraLight Italic"), local("/fonts/TTNorms-ExtraLightItalic"),
    url("/fonts/TTNorms-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-ExtraLightItalic.woff") format("woff"),
    url("/fonts/TTNorms-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-BoldItalic.eot");
  src: local("TT Norms Bold Italic"), local("/fonts/TTNorms-BoldItalic"),
    url("/fonts/TTNorms-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-BoldItalic.woff") format("woff"), url("/fonts/TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("/fonts/TTNorms-Medium"),
    url("/fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-Medium.woff") format("woff"), url("/fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-Black.eot");
  src: local("TT Norms Black"), local("/fonts/TTNorms-Black"),
    url("/fonts/TTNorms-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/TTNorms-Black.woff") format("woff"),
    url("/fonts/TTNorms-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-MediumItalic.eot");
  src: local("TT Norms Medium Italic"), local("/fonts/TTNorms-MediumItalic"),
    url("/fonts/TTNorms-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-MediumItalic.woff") format("woff"), url("/fonts/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-HeavyItalic.eot");
  src: local("TT Norms Heavy Italic"), local("/fonts/TTNorms-HeavyItalic"),
    url("/fonts/TTNorms-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-HeavyItalic.woff") format("woff"), url("/fonts/TTNorms-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms Web";
  src: url("/fonts/TTNorms-ExtraBold.eot");
  src: local("TT Norms ExtraBold"), local("/fonts/TTNorms-ExtraBold"),
    url("/fonts/TTNorms-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTNorms-ExtraBold.woff") format("woff"), url("/fonts/TTNorms-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
