@font-face {
    font-family: 'Whitney SSm';
    src: url('/fonts/WhitneySSm-Book.woff2') format('woff2'),
        url('/fonts/WhitneySSm-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney SSm';
    src: url('/fonts/WhitneySSm-Medium.woff2') format('woff2'),
        url('/fonts/WhitneySSm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney SSm';
    src: url('/fonts/WhitneySSm-Semibold.woff2') format('woff2'),
        url('/fonts/WhitneySSm-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
